@page
@model ResultModel
@{
    ViewData["Title"] = "Payment Result";
}

<h1>
    Payment Result - Apple Pay Solution Demo
</h1>

<p>//TODO: Show the payment result in here...</p>

<pre>
    <code>
        @Model.PaymentStatus
    </code>
</pre>
