@page
@inject MonkeyStore.Services.ApplePayCertificateProvider applePayCertificateProvider
@model CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}

<h1>
    Checkout - Responsive Shared Page Solution Demo
</h1>

<h2> Redirecting...</h2>
