@page
@model IndexModel
@{
    ViewData["Title"] = "Navigation";
}

<h1>
    Navigation - Apple Pay Solution Demo
</h1>

<p>
    Click the following link navigate to each solution.
</p>

<div class="row" style="height: 20rem;">
    <div class="col-12">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-page="/Payments/DirectPayment/Index">Direct Payment</a>
            <a class="list-group-item list-group-item-action" asp-page="/Payments/TransparentRedirect/Index">Transparent Redirect</a>
            <a class="list-group-item list-group-item-action" asp-page="/Payments/ResponsiveSharedPage/Index">Responsive Shared Page</a>
        </div>
    </div>
</div>
